<div class="col-md-6 col-md-offset-3">
  <!-- <%= form_for(@component) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :category %>
    <%= f.select :category,{"Alcohol":"Alcohol","Physical":"Physical","Puzzle":"Puzzle"},include_blank:true, class: "form-control" %>

    <%= f.label :min_teams %>
    <%= f.number_field :min_teams, value:1, in:1..4, class: "form-control" %>

    <%= f.label :max_teams %>
    <%= f.number_field :max_teams, value:4, in:1..4, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>


    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %> -->
  <%= react_component 'ComponentForm', {authenticity_token: form_authenticity_token}%>
</div>
